# Images
data/

# Kakadu
src/Kakadu

# Tools binaries
tools/bin

# Knapsack binaries
knapsack/tools/knapsack/bin
knapsack/tools/j2c_to_knapsack_files/bin

# CR binaries
src/CR/bin/

# Object files
*.o

# Octave files
.octave_hist
.octaverc

# Temporary files
scripts/temp_woi.txt
scripts/wois.txt
scripts/bytes.txt
scripts/psnr.txt
scripts/ssim.txt