# Images
data/sequences
data/sequences_to_test
data/j2c_and_thumbnails

# Kakadu
src/Kakadu

# Tools binaries
tools/bin

# Knapsack binaries
knapsack/tools/knapsack/bin
knapsack/tools/j2c_to_knapsack_files/bin

# Knapsack JSON files
knapsack/files/

# CR binaries
src/CR/bin/

# MCJ2K binaries
MCJ2K/bin

# MCTF binaries
MCTF/bin

# Object files
*.o

# Octave files
.octave_hist
.octaverc

# Temporary files
scripts/temp_woi.txt
scripts/wois.txt
scripts/bytes.txt
scripts/psnr.txt
scripts/ssim.txt
scripts/motion
scripts/*.pgm
scripts/*.j2c
scripts/*.cache
scripts/*.ord
scripts/*.lrcp

# Knapsack temporary files
knapsack/tools/create_all_kanpsack_files/temp_woi.txt
knapsack/tools/create_all_kanpsack_files/wois.txt

scripts/knapsack_solution.txt